
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}
:root{
    --font-size: 1rem;
    --font-family: "fraunce", serif;
    --font-weight: bolder;
    --text-transform: capitalize;
    --background-color: #2f3c7e;
    --color: #fff;
    --transition: .2s;
    --background-color2: #fbeaeb;
    /* the second variables here*/
    --font-size2: 1.6rem;
    --font-family2: sans;
}
/* the header styling start here */
.header{
    width: 100%;
    padding: 1% 10%;
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    position: fixed;
}
.logo{
    width: 110px;
    height: 50px;
    margin-right: auto;
}
nav .logo{
    display: none;
}
nav ul{
    list-style: none;
    display: flex;
}
nav ul li a{
    color: var(--color);
    padding: 10px;
    text-decoration: none;
    font-size: var(--font-size);
    text-transform: uppercase;
    letter-spacing: 1.2px;
    font-family: var(--font-family);
    position: relative;
}
nav ul li a::before{
    content: '';
    width: 100%;
    height: 2px;
    left: 0;
    bottom: 0;
    background-color: var(--color);
    position: absolute;
    transform: scaleX(0);
    transform-origin: right;
    transition:transform .4s linear;
}
nav ul li a:hover::before{
    transform: scaleX(1);
    transform-origin: left;
}
nav .fa{
    display: none;
}
.header .fa{
    display: none;
}
nav .real{
    display: none;
}
nav .media{
    display: none;
}
/* the header styling ends here */

/* the form styling start here */
.form{
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -4%;
}
.form_box{
    width: 60%;
    height: 75vh;
    margin-top: 6%;
    background: var(--color);
    border-radius: 10px;
    border-top: 3px solid #2e43ad;
    box-shadow: 4px 4px 5px rgb(95, 131, 143);
    padding: 1% 4%;
}
.form_box h1{
    font-size: 1.5rem;
    color: #2e43ad;
    margin-bottom: 2%;
}
.form_box input{
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    font-family: var(--font-family2);
    margin-bottom: 2%;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #2e43ad;
    outline: none;
}
#register{
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    transform: translate(-25% -25%);
    background-color: #2e43ad;
    border: none;
    color: var(--color);
    text-transform: var(--text-transform);
    font-size: 1.2rem;
    letter-spacing: 2px;
    margin-bottom: 3%;
}
#register:hover{
    background: #2f3c7e;
    color: var(--color);
    transition: 0.5s;
}
.form_box p{
    font-family: var(--font-family);
    text-transform: var(--text-transform);
    margin-bottom: 4%;
}
.form_box p a{
    color: #2e43ad;
    text-decoration: none;
    font-weight: 600;
}
.form_box p a:hover{
    color: #197a38;
    text-decoration: underline;
}
#login{
    float: right;
    text-transform: var(--text-transform);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: var(--font-family2);
    letter-spacing: 2px;
    font-weight: 600;
}
#login:hover{
    color: #197a38;
    text-decoration: underline;
}

/* the form styling ends here */

.footer{
    width: 100%;
    height: 60vh;
    background-color: rgb(31, 29, 29);
    margin-top: 4%;
    padding: 4% 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid rgb(59, 58, 58);
    padding: 10px;
}
.box_details{
    width: 25%;
    margin-right: 3%;
}
#boxdetails{
    margin-right: -2%;
}
#boxdetails a{
    display: block;
    color: rgb(160, 153, 153);
    text-decoration: none;
    text-transform: capitalize;
    margin-bottom: 2%;
    letter-spacing: 2px;
}
#boxdetails a:hover{
    color: rgb(132, 50, 20);
    transition: 0.5s;
}
.details a img{
    width: 170px;
    margin-top: 50%;
}
.box_details h1{
    color: var(--color);
    font-size: var(--font-size);
    font-family: sans-serif;
    font-weight: bolder;
    text-transform: var(--text-transform);
    letter-spacing: 2px;
    margin-bottom: 4%;
}
.box_details p{
    color: rgb(160, 153, 153);
    font-size: 15px;
    font-family: sans-serif;
    margin-bottom: 4%;
}
.box_details h4{
    color: var(--color);
    font-weight: 500;
    text-transform: var(--text-transform);
    letter-spacing: 2px;
    font-family: serif;
    margin-bottom: 3%;
}
.media{
    display: flex;
    margin-bottom: 5%;
}
.media a{
    margin-right: 3%;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    background-color: transparent;
}
.media a:hover{
    color: rgb(187, 56, 8);
    transition: 0.5s;
}
#detailsbox{
    text-align: justify;
}
#detailsbox a{
    color: rgb(160, 153, 153);
    cursor: pointer;
}
.fuuter{
    padding: 1% 10%;
    background: rgb(31, 29, 29);
    text-align: left;
    display: flex;
    align-items: center;
}
.fuuter a{
    color: rgb(160, 153, 153);
    text-decoration: none;
    letter-spacing: 2px;
    font-family: sans;
    margin-right: 5%;
}
.fuuter p{
    color: rgb(160, 153, 153);
}
/* the footer styling ends here */

/* the media screen start here */
@media only screen  and (max-width: 1100px){

    /* header media style start here */
    .header{
        width: 100%;
        padding: 1px 10%;
        position: fixed;
    }
    nav{
        position: absolute;
        left: -300px;
        top: 0;
        width: 280px;
        height: 100vh;
        z-index: 999;
        background: rgb(21, 19, 19);
        box-shadow: 2px 0 20px 0 rgba(0, 0, 0, 0.5);
        transition: 0.4s;
    }
    nav ul{
        display:block;
        margin-left: 3%;
        margin-bottom: 10%;
    }
    nav ul li {
        padding: 10px;
        text-align: center;
    }
    nav ul li a{
        font-size: 15px;
    }
    nav .fa{
        text-align: right;
        margin-right: 10%;
    }
    .header .fa{
        display: block;
        color: white;
        font-size: 1.2rem;
        margin-left: 10%;
        margin-top: 10%;
        margin-bottom: 15%; 
    }
    .account{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        margin-left: 10%;
        margin-bottom: 5%;

    }
    nav .real{
        display: block;
    }
   
    .account a{
        margin-right: 5%;
        text-decoration: none;
        font-size: 20px;
        text-transform: var(--text-transform);
        letter-spacing: 2px;
    }
    .account a .fa:hover{
        color: orangered;
        transition: 0.5s;
    }
    nav .account > #logout{
        margin-left: 25%;
        margin-right: 25%;
        transform: translate(-25% -25%);
    }
    nav .media{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav .media{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    nav .media > a{
        text-decoration: none;
        margin-right: 5%;
        cursor: pointer;
    }
    nav .media > a > .fa{
        font-size: 2rem;
    }
    nav .media > a > .fa:hover{
        color: orangered;
        transition: 0.5s;
    }
     /* header media style ends here */

     /* form media style ends here */
    .form{
        width: 100%;
        height: 90vh;
    }
    .form_box h1{
        font-size: 1.2rem;
        margin-bottom: 5%;
    }
    .form_box input{
        margin-bottom: 3%;
    }
    .form_box{
        width: 90%;
        height: 60vh;
    }
    .form_box a:hover{
        font-weight: 600;
    }
    #register{
        margin-top: 5%;
        margin-bottom: 6%;
    }

     /* form media style ends here */

      /* footer media style start here */
    .footer{
        width: 100%;
        height: 150vh;
        display: flex;
        align-items: center;
    }
    .details .media a{
        margin-right: 7%;
    }
    .details{
        width: 95%;
        align-items: center;
    }
    .box_details{
        width: 75%;
        margin-bottom: 8%;
    }
    .box_details h1{
        font-size: 20px;

    }
    .box_details h4{
        font-size: 15px;
    }
    .box_details p{
        font-size: 15px;
    }
    #boxdetails{
        margin-bottom: -10%;
    }
    #boxdetails a{
        margin-bottom: 2%;
    }
    .fuuter p{
        font-size: 15px;
        margin-bottom: 5%;
    }
    /* footer media style ends here */
}